<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Translator</title>
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>
</head>
<body>
    <h1>Explore the World of Words</h1>
    <div>
        <button id="addLanguageButton"  hx-target="#languageOptions" hx-swap="innerHTML" hx-get="/add_language_form">Add Language</button>


    </div>

    <div id="languageOptions" hx-include="#addLanguageForm"></div>

    <!-- Add the form for interactive language addition -->
    <div id="addLanguageForm" style="display: none;">
        <form hx-post="/add_language" hx-trigger="submit" hx-target="#languageOptions" hx-swap="outerHTML">
            <label for="languageSelect">Select Language:</label>
            <select id="languageSelect" name="language">
                <!-- Options will be populated dynamically -->
            </select>
            <input type="hidden" name="confirm" value="true">
            <button type="submit">Add Language</button>
        </form>
    </div>

    <form hx-post="{{ url_for('translate') }}" hx-target="#result" hx-swap="innerHTML">
        <label for="sourceLanguage">Choose source language:</label>
        <select id="sourceLanguage" name="sourceLanguage">
            {% for language in languages %}
                <option value="{{ language }}">{{ language }}</option>
            {% endfor %}
	</select>

        <label for="targetLanguage">Choose target language:</label>
        <select id="targetLanguage" name="targetLanguage">
            {% for language in languages %}
                <option value="{{ language }}">{{ language }}</option>
            {% endfor %}
	</select>

        <label for="word">Type a word:</label>
        <input type="text" id="word" name="word" required>

        <button type="submit">Translate</button>
    </form>

    <!-- Display the result -->
    <div id="result"></div>

    <script>

    </script>
</body>
</html>

